html {
	font-family: sans-serif;
}

body {
	color: #02ada5;
	padding: 0 2rem;
	min-height: 100vh;
	margin: 0 auto;
	max-width: 80rem;
	display: flex;
	flex-direction: column;
}

.avatar {
	display: block;
	width: 20rem;
}

.nav,
.footer {
	background-color: teal;
	width: 80vw;
	padding: 1rem 3rem;
	display: flex;
	align-items: center;
	color: white;	
}

.nav a {
	display: block;
	margin: 1rem 4rem;
	text-decoration: none;
	color: white;
}

header {
	margin-top: 2rem;
	margin-bottom: 4rem;
}


.main-content {
	flex-grow: 1;
}

input {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 3px;
}


button {
	color: white;
	padding: 8px;
	background-color: teal;
	border-radius: 3px;
	border: 1px solid teal;
	cursor: pointer;
}

#errorMsg {
	color: red;
}


